<h2>Type in your details</h2>
<form class="mat-form-field" role="form" [formGroup]="formAthleteDetails">
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput formControlName="weight">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Height</mat-label>
    <input matInput formControlName="height">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Bench Press</mat-label>
    <input matInput formControlName="benchPress">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Squat</mat-label>
    <input matInput formControlName="squat">
  </mat-form-field>
  <br>
  <br>
  <mat-form-field>
    <mat-label>Waist Measurement</mat-label>
    <input matInput formControlName="waistMeasurement">
  </mat-form-field>
  <br>
  <br>
  <mat-form-field>
    <mat-label>Arm Measurement</mat-label>
    <input matInput formControlName="armMeasurement">
  </mat-form-field>
  <br>
  <br>
  <mat-form-field>
    <mat-label>Thigh Measurement</mat-label>
    <input matInput formControlName="thighMeasurement">
  </mat-form-field>
  <br>
</form>
<div class="button-row">
  <button mat-raised-button (click)="onAdd()">Add</button>
  <button mat-raised-button (click)=this.formAthleteDetails.reset()>Reset</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>
