<!--This table is going to be finished with the start of new endpoint in Athlete Details-->
<div>
  <table mat-table #detailsTable [dataSource]="athleteDetailsArray" class="mat-elevation-z8">
    <ng-container matColumnDef="added">
      <mat-header-cell *matHeaderCellDef>Added</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails"> {{athleteDetails.added | date: 'dd-MM-yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails"> {{athleteDetails.weight}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="height">
      <mat-header-cell *matHeaderCellDef>Height</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails"> {{athleteDetails.height}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="benchPress">
      <mat-header-cell *matHeaderCellDef>Bench Press</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails"> {{athleteDetails.benchPress}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="squat">
      <mat-header-cell *matHeaderCellDef>Squat</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails"> {{athleteDetails.squat}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="waist">
      <mat-header-cell *matHeaderCellDef>Waist</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails"> {{athleteDetails.waistMeasurement}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="arm">
      <mat-header-cell *matHeaderCellDef>Arm measurement</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails"> {{athleteDetails.armMeasurement}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="thigh">
      <mat-header-cell *matHeaderCellDef>Thigh measurement</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails"> {{athleteDetails.thighMeasurement}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updateButton">
      <mat-header-cell *matHeaderCellDef>Update Button</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails">
        <button mat-stroked-button (click)="openUpdateDialog(athleteDetails)">Update</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deleteButton">
      <mat-header-cell *matHeaderCellDef>Delete Button</mat-header-cell>
      <mat-cell *matCellDef="let athleteDetails">
        <button mat-stroked-button (click)="deleteDetails(athleteDetails.id)"> Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </table>
  <button mat-stroked-button (click)="openAddDialog()">Add Athlete Details</button>
</div>


