<div fxLayout = "row" fxLayoutAlign="center stretch">


  <div *ngIf="!isDetailedView">
    <div align="center">
      <button mat-raised-button color="primary" (click)="openAddGroupDialog()">Add Group</button>
    </div>
    <br>
    <div *ngFor="let group of groups">
      <mat-card>
        <mat-card-title fxLayoutAlign="center"> {{group.groupName}}</mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center">{{group.groupType}}</mat-card-subtitle>
        <mat-card-footer class="italicFont" fxLayoutAlign="center">Group admin: {{group.admin.firstName }} {{group.admin.lastName}}</mat-card-footer>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="removeGroup(group.id)">Remove group</button>
          <button mat-raised-button color="primary" (click)="openUpdateGroupDialog(group)">Update group</button>
          <button mat-raised-button color="primary" (click)="selectGroup(group)">Select group</button>
          <button mat-raised-button color="primary" (click)="openMemberDialog(group.id)">Add member</button>
        </mat-card-actions>
      </mat-card>
      <br>
    </div>
  </div>


  <div *ngIf="isDetailedView">
    <app-group-details
      [group]="groupChosen"
      (clearEmitter)="clearGroupChoice()">
    </app-group-details>
  </div>
</div>
