h2 {
  align-content: center;
  margin: 10px 10px 10px 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.buttonsCalendar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
  color: black;
  padding-bottom: 150px;
  
}
