<div class = "buttonsCalendar" style="height: min-content; width: content-box">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      Previous month
    </mat-button-toggle>
    <mat-button-toggle
      mwlCalendarToday
      [(viewDate)]="viewDate">
      This month
    </mat-button-toggle>
    <mat-button-toggle
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      Next month
    </mat-button-toggle>
    <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>

    <mat-button-toggle
      class="mat-button-toggle"
      (click)="setView(CalendarView.Week)"
      [class.active]="view === CalendarView.Week">
      Week
    </mat-button-toggle>
    <mat-button-toggle
      class="mat-button-toggle"
      (click)="setView(CalendarView.Day)"
      [class.active]="view === CalendarView.Day">
      Day
    </mat-button-toggle>
    <mat-button-toggle
      class="mat-button-toggle"
      (click)="openAddEventDialog()"
      [class.active]="view === CalendarView.Day">
      Add New Event
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<br/>
<div [ngSwitch]="view" class="calendar">
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="viewEventDetails($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
  *ngSwitchCase="CalendarView.Day"
  [viewDate]="viewDate"
  [events]="events"
  [refresh]="refresh"
  (eventClicked)="viewEventDetails($event)">
  </mwl-calendar-day-view>
</div>









