<h2>Update group</h2>
<form class="mat-form-field" role="form" [formGroup]="formUpdateGroup">
  <mat-form-field>
    <mat-label>Group name</mat-label>
    <input matInput formControlName="groupName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group type </mat-label>
    <input matInput formControlName="groupType">
  </mat-form-field>
</form>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="onUpdateAndSave()">Update group</button>
  <button mat-raised-button color="primary" matDialogClose>Close</button>
</mat-dialog-actions>
