<div fxLayout="row" fxLayoutAlign="center stretch">

  <!-- this column wil take 20% of width -->
  <div fxFlex="30">
    <label for="file-upload">
      <img [src]=profilePic width="300" height="300">
    </label>
    <input id="file-upload" ng2FileSelect type="file" style="display: none" [uploader]="uploader">
    <h1>Welcome {{ userAccount.firstName }} {{userAccount.lastName}}</h1>
    <h2>Your email is {{userAccount.email}}</h2>
    <h2>Your date of birth is {{userAccount.birthDate | date: 'dd-MM-yyyy'}}</h2>
  </div>

  <!-- fxFlex with no value mean stretch to what is left -->


  <div fxFlex="50">
    <div class="container"
         fxLayout
         fxLayoutAlign="center"
         fxLayoutGap="0px"
         fxLayoutGap.xs="0">
    </div>

    <div>
      <div>
        <h1>Posts:</h1>
      </div>
      <button mat-icon-button color="accent" (click)='openDialog()'>
        Create new post:
        <mat-icon>control_point</mat-icon>
      </button>
    </div>

    <div *ngFor="let post of posts">
      <mat-card>
        <mat-card-header>
          <!-- this mean it will take 90% if witdh-->
          <div fxFlex>
            <mat-card-title class="headerCard">{{post.title}}</mat-card-title>
            <mat-card-subtitle>{{post.creator.firstName}} {{post.creator.lastName}}</mat-card-subtitle>
          </div>

          <div class="item item-2" *ngIf="this.userAccount.id === post.creator.id ">
            <button mat-button [matMenuTriggerFor]="menu">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="deletePost(post.id)">Delete</button>
              <button mat-menu-item (click)="openUpdateDialog(post)">Update</button>
            </mat-menu>
          </div>
        </mat-card-header>

        <mat-card-content class="contentCard">
          {{post.content}}
        </mat-card-content>
        <mat-card-footer class="footerCard">
          This post was created on {{post.created | date: 'dd-MM-YYYY'}}
        </mat-card-footer>
      </mat-card>
      <br>
    </div>
  </div>
</div>

