<h2>Create post</h2>
<form class="mat-form-field" role="form" [formGroup]="formPost">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Content</mat-label>
    <textarea matInput formControlName="content"></textarea>
  </mat-form-field>
</form>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="createPost()">Create</button>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
