<div class="container" fxLayout="column" fxLayoutAlign="center none" fxFlexAlign="center" fxLayoutGap="20px">
  <mat-card class="subscriptionCard"  *ngFor="let subscription of subscriptions">
    <mat-card-title>Client: {{subscription.client.firstName}} {{subscription.client.lastName}}</mat-card-title>
    <mat-card-subtitle>Coach: {{subscription.coach.firstName}} {{subscription.coach.lastName}} </mat-card-subtitle>
    <mat-card-content>
      <p>You have bought this subscription for {{subscription.fee | currency: 'PLN'}}</p>
    </mat-card-content>
    <mat-card-actions >
      <button mat-raised-button color="warn" (click)="removeSubscription(subscription.id)">Delete</button>
      <button mat-raised-button color="warn" (click)="openUpdateSubDialog(subscription)">Update Fee</button>
      <button mat-raised-button color="warn" (click)="cancelSubscription(subscription.id)">Cancel Sub</button>
    </mat-card-actions>
  </mat-card>

</div>
