<div class="container" fxLayout="column" fxLayoutAlign="center none" fxFlexAlign="center" fxLayoutGap="20px">
  <mat-card class="offerCard" *ngFor="let offer of offers">
      <mat-card-title>{{offer.title}}</mat-card-title>
      <mat-card-subtitle>{{offer.price}}</mat-card-subtitle>
      <mat-card-content>{{offer.description}}</mat-card-content>
      <mat-card-actions >
        <button mat-raised-button color="warn" (click)="createSubscription(offer)">Buy</button>
      </mat-card-actions>
  </mat-card>
</div>
