<div>
  <table mat-table #invoiceTable [dataSource]="invoices" class="mat-elevation-z4">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="toPay">
      <mat-header-cell *matHeaderCellDef>Amount to pay</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.totalAmount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef>Created on</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.createdDay}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isPaid">
      <mat-header-cell *matHeaderCellDef>Is it paid</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.isPaid}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="payInvoice">
      <mat-header-cell *matHeaderCellDef>Pay invoice</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" routerLink="/mockPaymentPage">
          Pay the invoice
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

  </table>

</div>

