<div align="center">
  <h2>Update post</h2>
  <div class = "update-dialog">
    <form class="mat-form-field" role="form" [formGroup]="formPost">
      <mat-form-field align="center">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <br>
      <mat-form-field align="center">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content"> </textarea>
      </mat-form-field>
    </form>
  </div>
  <mat-dialog-actions align="center">
    <button mat-raised-button (click)="onUpdateAndSave()">Update</button>
    <button mat-raised-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>


