<div class = "addMemberDialogCard" *ngFor="let client of clients">
  <mat-card>
    <mat-card-title>{{client.firstName}} {{client.lastName}}</mat-card-title>
    <mat-card-subtitle>{{client.email}}</mat-card-subtitle>
    <button mat-raised-button color="primary" (click)="addMember(client.id)">Add to the group</button>
  </mat-card>

</div>
