<div fxLayout="column" fxLayoutAlign="space-around center">

  <div *ngIf="group">
    <mat-card class="matCardPersonalized" align="center">
      <mat-card-title>
        Group name: {{group.groupName}}
      </mat-card-title>
      <mat-card-subtitle>
        Group type: {{group.groupType}}
      </mat-card-subtitle>
      <mat-card-content>
        <div *ngFor="let member of members">
          {{member.firstName}} {{member.lastName}}
          <button mat-raised-button color="primary" (click)="removeMember(member.id, group.id)">Remove this member
          </button>

        </div>
      </mat-card-content>
      <mat-card-footer class="italicFont"> Group admin: {{group.admin.firstName}} {{group.admin.lastName}}
      </mat-card-footer>
    </mat-card>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="clearChoice()">Go back</button>
    </mat-card-actions>
  </div>

</div>
