<div fxLayout="column" fxLayoutAlign="start none">
  <form class="mat-form-field" role="form" [formGroup]="formCreateOffer">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="price">
    </mat-form-field>
  </form>
  <br>
  <div *ngIf="offer !== null; else elseBlock">
    <button mat-raised-button color="warn" (click)="completeOfferForm()">Save</button>
  </div>
  <br>
  <ng-template #elseBlock>
    <button mat-raised-button color="warn" (click)="onSave()">Save</button>
  </ng-template>


</div>
