<div class="example-container centered-content">
  <h1>Log in</h1>
  <form role="form" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput  formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onAuthorize()">Authorize</button>
      <button mat-raised-button color="basic" (click)="onRegister()">Register</button>
    </div>
  </form>
</div>

