<mat-toolbar class="fixed-header" color="primary">
  <ng-container *ngIf="isLoggedIn$ | async">
  <span>
    <button mat-button routerLink="/home"><h2>Workout</h2></button>
  </span>
    <button mat-button routerLink="/profile">Athlete Details</button>
    <button mat-button routerLink="/groups">Groups</button>
    <button mat-button routerLink="/calendar">Calendar</button>
    <button mat-button routerLink="/invoice">Invoices</button>
    <button mat-button routerLink="/subscription"> Subscription</button>
    <div *ngIf = "isUserAClient(); else clientAsACoach">
      <button mat-button routerLink = "client" >Find a plan</button>
    </div>
    <ng-template #clientAsACoach>
      <button mat-button routerLink="/offer"> Offers</button>
    </ng-template>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon- button with menu icon">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-button routerLink = "/settings">Settings </button>
        <button mat-menu-item routerLink="/friends"> Friends</button>
        <button mat-menu-item routerLink="/invitations"> Invitations</button>
        <button mat-menu-item routerLink="/pictures">Pictures</button>
        <button mat-menu-item (click)="onLogOut()"> Log out</button>
      </mat-menu>
    </button>
  </ng-container>
</mat-toolbar>
