<h2 align="center">Add group</h2>
<form class="mat-form-field" role="form" [formGroup]="formAddGroup">
  <mat-form-field>
    <mat-label >Group name</mat-label>
    <input matInput formControlName="groupName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Group type </mat-label>
    <input matInput formControlName="groupType">
  </mat-form-field>
</form>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="addGroup()">Add group</button>
  <button mat-raised-button color="primary" matDialogClose>Close</button>
</mat-dialog-actions>
