<div align="center">
  <h2>First name: {{userAccount.firstName}}</h2>
  <h2>Last name: {{userAccount.lastName}}</h2>
  <h2>Email: {{userAccount.email}}</h2>
  <h2>Date of Birth: {{userAccount.birthDate | date: 'dd-MM-YYYY' }}</h2>
  <button mat-raised-button color="primary" (click)="openDialog()" >Edit details</button>
</div>
