<h2 *ngIf="eventModel == null">Add event</h2>
<h2 *ngIf="eventModel != null">Event Details</h2>
<form class="mat-form-field" role="form" [formGroup]="formCalendar">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"> </textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput [ngxMatDatetimePicker]="pickerStart" placeholder="Choose a date"
           [formControl]="startDateFormControl">
    <mat-datepicker-toggle matSuffix [for]="$any(pickerStart)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerStart>
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput [ngxMatDatetimePicker]="pickerEnd"
           [min]="startDateFormControl.value"
           placeholder="Choose a date" [formControl]="endDateFormControl">
    <mat-datepicker-toggle matSuffix [for]="$any(pickerEnd)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerEnd>
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <br>
</form>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="completeForm()">Save event</button>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onDelete()" *ngIf="eventModel !== null">Delete Event</button>

</mat-dialog-actions>


