<div>
  <h2>Update sub</h2>
  <form class="mat-form-field" role="form" [formGroup]="formSubGroup">
    <mat-form-field>
      <mat-label>Sub Fee</mat-label>
      <input matInput formControlName="fee">
    </mat-form-field>
  </form>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="onSave()">Update fee</button>
    <button mat-raised-button color="primary" matDialogClose>Close</button>
  </mat-dialog-actions>
</div>


