<div  *ngFor="let nonfriend of nonFriends">
  <mat-card>
    <mat-card-title>{{nonfriend.firstName}} {{nonfriend.lastName}}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addFriend(nonfriend.id)"> Add this member</button>
    </mat-card-actions>
  </mat-card>

</div>
