
<div class="container" fxLayout="column" fxLayoutAlign="center none" fxFlexAlign="center" fxLayoutGap="20px">
  <button mat-raised-button color="warn" (click)="createOffer()">Create Offer</button>
  <mat-card class="offerCard" *ngFor="let offer of offers">
    <mat-card-title>{{offer.title}}</mat-card-title>
    <br>
    <mat-card-subtitle>It costs {{offer.price | currency: 'PLN'}}</mat-card-subtitle>
    <br>
    <mat-card-content>{{offer.description}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="deleteOffer(offer.id)">Delete</button>
      <button mat-raised-button (click)="updateOffer(offer)">Update</button>
    </mat-card-actions>
  </mat-card>
</div>

