<h1>Register</h1>
  <form class="mat-form-field" role="form" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Birth date</mat-label>
      <input matInput [matDatepicker]="picker"
             placeholder="Ex. 1900-11-11" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="ROLE_CLIENT">Client</mat-option>
        <mat-option value="ROLE_COACH">Coach</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

  </form>

<div class="button-row">
  <button mat-stroked-button color="primary" [disabled]="!form.valid" (click)="onRegister()">Register</button>
  <button mat-stroked-button color="primary"  (click)="this.form.reset()">Reset</button>
</div>

