<div>
  <button mat-raised-button color="primary" (click) = "openAddFriendDialog()">Invite</button>
  <h1>Invitations sent:</h1>
  <table mat-table #sentTable class="mat-elevation-z8" [dataSource]="sentInvitations">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let invitation">{{invitation.accountTo.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let invitation">{{invitation.accountTo.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef>Birth Date</mat-header-cell>
      <mat-cell *matCellDef="let invitation">{{invitation.accountTo.birthDate | date: 'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>action</mat-header-cell>
      <mat-cell *matCellDef="let invitation">
        <button mat-raised-button (click)="cancelInvitation(invitation.id)"> Cancel </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </table>
</div>
<br>
<div>

<h1>Invitations received:</h1>
<table mat-table #receivedTable class="mat-elevation-z8" [dataSource]="receivedInvitations">

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
    <mat-cell *matCellDef="let invitation">{{invitation.accountFrom.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let invitation">{{invitation.accountFrom.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="birthDate">
    <mat-header-cell *matHeaderCellDef>Birth Date</mat-header-cell>
    <mat-cell *matCellDef="let invitation">{{invitation.accountFrom.birthDate | date: 'shortDate'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell *matCellDef="let invitation">
      <button mat-raised-button (click)="acceptInvitation(invitation.id)"> Accept </button>
      <button mat-raised-button (click)="declineInvitation(invitation.id)" > Decline </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
</table>
</div>
