/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body {
  height: 100%;
}

body {
  margin-top: 5%;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.red-snackbar {
  background: #f32140;
}

table {
  width: 100%;
}

.centered-content {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.italicFont{
  font-style: italic;
}

.matCardPersonalized{
  height: fit-content;
  width: 500px;
  align-content: center;


}
.offer-card {
  max-width: 400px;

}

.update-dialog {
  justify-content: center;
  text-align: center;
  display: flex;
  width: 400px;
  height: 300px;
}

.addMemberDialogCard {
  width: content-box;
}
