<h2>Update details</h2>
<form class="mat-form-field" role="form" [formGroup]="formSettings">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Date of birth</mat-label>
    <input matInput formControlName="birthDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix   [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="onUpdate()">Update</button>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
